<div class="catalogo">

    <div class="articulo">
        <h2>Signature Slim Keyboard K950</h2>
        <img src="https://redragon.es/content/uploads/2021/04/SHRAPNEL.png" alt="teclado">
        <p class="marca">Redragon</p>
        <div>
            Precio
            <p class="precio">$55.555,55</p>
        </div>
    </div>

    <div class="articulo">
        <h2>Signature Slim Keyboard K950</h2>
        <img src="https://redragon.es/content/uploads/2021/04/SHRAPNEL.png" alt="teclado">
        <p class="marca">Redragon</p>
        <div>
            Precio
            <p class="precio">$55.555,55</p>
        </div>
    </div>

    <div class="articulo">
        <h2>Signature Slim Keyboard K950</h2>
        <img src="https://redragon.es/content/uploads/2021/04/SHRAPNEL.png" alt="teclado">
        <p class="marca">Redragon</p>
        <div>
            Precio
            <p class="precio">$55.555,55</p>
        </div>
    </div>

    <div class="articulo">
        <h2>Signature Slim Keyboard K950</h2>
        <img src="https://redragon.es/content/uploads/2021/04/SHRAPNEL.png" alt="teclado">
        <p class="marca">Redragon</p>
        <div>
            Precio
            <p class="precio">$55.555,55</p>
        </div>
    </div>

    <div class="articulo">
        <h2>Signature Slim Keyboard K950</h2>
        <img src="https://redragon.es/content/uploads/2021/04/SHRAPNEL.png" alt="teclado">
        <p class="marca">Redragon</p>
        <div>
            Precio
            <p class="precio">$55.555,55</p>
        </div>
    </div>

</div>
