<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head', { title: 'Login',
stylesheets: ['/css/styles.css', '/css/carrito.css'] }) %>

<body>
    <%- include('../partials/header') %>

    <main>
        <%- include('../partials/carrito') %>
    </main>

    <%- include('../partials/footer') %>
</body>

</html>