<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head', { title: 'Producto',
stylesheets: ['/css/styles.css', '/css/producto.css'] }) %>

<body>

    <body>

        <%- include('../partials/header') %>
        
        <main>
            <%- include('../partials/producto') %>
        </main>
    
        <%- include('../partials/footer') %>
    
    </body>

</body>
</html>