<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head.ejs', {
    title: 'Registrar Producto',
    stylesheets: []
}) %>

<body>

    <%- include('../partials/header.ejs') %>

    <main>
        <%- include('../partials/productForm.ejs', {
            formClass: 'crearProducto',
            formAction: '/products/',
            formMethod: 'POST',
            formTitle: 'Registrar producto',
            buttonText: 'Registrar producto',
            brands: brands,
            categories: categories,
            colors: colors,
            product: null
        }) %>
    </main>

    <%- include('../partials/footer.ejs') %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/validatorjs/2.0.0/validator.min.js"></script>
    <script src="/javascripts/productValidation.js"></script>

</body>
</html>