<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Inicio</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">

</head>

<body>
    <%- include('partials/header') %>
        <main>
            <div class="categoria">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, quas necessitatibus explicabo
                    beatae
                    quae officiis non. Veritatis, sequi. Quam minima, dolor harum doloremque placeat libero cum odit
                    quae
                    voluptas perferendis.</p>
            </div>
            <div class="categoria">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, quas necessitatibus explicabo
                    beatae
                    quae officiis non. Veritatis, sequi. Quam minima, dolor harum doloremque placeat libero cum odit
                    quae
                    voluptas perferendis.</p>
            </div>
            <div class="categoria">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, quas necessitatibus explicabo
                    beatae
                    quae officiis non. Veritatis, sequi. Quam minima, dolor harum doloremque placeat libero cum odit
                    quae
                    voluptas perferendis.</p>
            </div>
            <div class="categoria">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, quas necessitatibus explicabo
                    beatae
                    quae officiis non. Veritatis, sequi. Quam minima, dolor harum doloremque placeat libero cum odit
                    quae
                    voluptas perferendis.</p>
            </div>
        </main>
        <%- include('partials/footer') %>
</body>

</html>