<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/form.css">
    <title>Acceder</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">

</head>

<body>
    <%- include('partials/header') %>
        <main>
            <form class="login" action="/login" method="POST">
                <h2>Ingresar usuario</h2>
                <div class="data-form">
                    <input type="email" name="email" id="email" placeholder="Correo" autocomplete="off" required autofocus>
                    <input type="password" name="clave" id="clave" placeholder="Contraseña" autocomplete="off" requier>
                </div>

                </div>

                <hr>
            
                <div class="login-bn">
                    <button type="submit" id="ingresar">Ingresar</button>
                    <button type="submit" id="ingresar-google">Ingresar con Google</button>
                    <a href="#" id="restaurar_pass">Restaurar Contraseña</a>
                </div>
            </form>
        </main>
        <%- include('partials/footer') %>
</body>

</html>