@import url('variables.css');

main form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: rgb(133, 133, 133);
    box-shadow: var(--box-shadow);
    text-align: center;
    padding: 20px;
    background-color: var(--background-color-primary);
}

main form,
main form input,
main form button {
    border-radius: 10px
}

main form input {
    padding-left: 5px;
    border: none;
    border: 2px solid rgba(128, 128, 128, 0.2);
    height: 32px;
}

main form button {
    box-shadow: var(--box-shadow);
    padding: 7.5px;
    color: white;
    background: none;
    border: none;
}

main form button:active {
    transform: scale(0.80);
}

main form input:focus {
    border: 2px solid var(--secondary-color);
}

.terminos {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 5px;
    font-size: 12px;
    gap: 10px;
}

hr {
    margin: 5px 10%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

#restaurar_pass {
    font-size: 14px;
}

/* DEFINIR COLOR DE BOTONES */
#registrar {
    background-color: var(--secondary-color);
}

#ingresar {
    background-color: var(--primary-color);
}

#ingresar-google {
    background-color: rgb(180, 48, 48);
}

@media (min-width: 770px) {

    main form {
        width: 350px;
    }

}