main {
    margin: 75px 0;
}

.registro, .login {
    color: rgb(111, 111, 111);
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 350px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(128, 128, 128, 0.5);
    border-radius: 20px;
    background-color: #f9f9f9;
}

.data-form {
    display: flex;
    flex-direction: column;
}

.data-form input {
    padding: 5px 10px;
    margin: 5px 0;
    border: 2px solid rgba(128, 128, 128, 0.250);
    border-radius: 10px;
   
}

.data-form input:focus {
    outline: none;
    border: 2px solid rgba(236, 107, 33, 0.500);
}

.terminos {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    gap: 10px;
    font-size: 12px;
}

hr {
    margin: 15px 5%;
    border: 1px solid rgba(0, 0, 0, 0.350);
}

.registro button,
.login button {
    border: 2px solid rgba(0, 0, 0, 0.100);
    padding: 7.5px;
    background: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s ease;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.250);
    color: white;
}

.registro button:hover,
.login button:hover {
    opacity: 0.85;
}

.registro button:active,
.login button:active {
    transform: scale(0.80);
}

/* Registro */
#registrar {
    background-color: rgb(207, 94, 29);
}

/* Login */
.login-bn {
    display: flex;
    flex-direction: column;
}

.login-bn button {
    margin: 10px 0;
}

#ingresar {
    background-color: rgb(50, 83, 141);
}

#ingresar-google {
    background-color: rgb(180, 48, 48);
}

#restaurar_pass {
    font-size: 14px;
    margin-top: 10px;
}
