/* Importar variables */
@import url('variables.css');

.catalogo {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.articulo {
    color: black;
    width: 350px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: var(--border-radius);;
    box-shadow: var(--box-shadow);
    background-color: var(--color-gris-claro);
    transition: ease 0.33s;
}

.articulo img {
    width: 300px;
    height: 300px;
}

.articulo:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.500);
    transform: scale(1.01);
}

.precio {
    color: rgb(20, 82, 152);
    font-size: 20px;
    font-weight: 700;
}

.marca {
    padding: 15px;
    font-weight: 700;
    text-transform: uppercase;
}
