/* Importar variables */
@import url('variables.css');

/* HEADER */
header {
    display: flex;
    align-items: center;
    background-color: var(--color-gris-oscuro);
    top: 0;
    position: sticky;
    z-index: 1000;
    padding: 5px;
    width: 100%;
}
 
header img {
    height: 35px;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.search-bar {
    position: relative;
    width: 100%;
}
  
.search-bar input {
    width: 100%;
    padding: 8px 15px;
    border-radius: var(--border-radius);;
}
  
.search-bar button {
    display: flex;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
}

.header-icons {
    display: flex;
    gap: 30px;
}

header nav div svg:hover,
footer div svg:hover {
    fill: var(--color-naranja);
}

/* FOOTER */
footer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    gap: 25px;
    background-color: var(--color-gris-oscuro);
    color: var(--color-naranja);
    padding: 20px;
    flex-shrink: 0;
}

.footer-info,
.footer-info ul {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
}

.footer-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
    margin-top: 10px;
}

footer svg:hover {
    transform: translateY(2.5px);
}

header a,
footer a {
    color: var(--color-gris-claro);
}

footer a:hover {
    color: var(--color-naranja);
}

/* Media Query para Responsividad */
@media (max-width: 768px) {

    .header-icons {
        display: none;
    }

}

@media (min-width: 769px) {

    nav {
        padding: 10px 35px;
    }

    header img {
        height: 50px;
    }

    .icon-text {
        display: none;
    }

    .icon-menu {
        display: none;
    }

    footer {
        flex-direction: row;
        justify-content: space-around;
    }

    .footer-info {
        text-align: start;
    }

}
