/* Importar variables */
@import url('variables.css');

.login {
    width: 300px;
    margin: 40px;
    padding: 20px;
    background-color: var(--color-gris-claro);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}

.login form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.campo {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

.login input[type="email"],
.login input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: var(--border-radius);
}

.login button {
    background-color: var(--color-azul-marino);
    border-radius: var(--border-radius);
    color: white;
    padding: 10px 15px;
    width: 100%;
}

.login button:hover {
    background-color: var(--color-cian);
}

p {
    text-align: center;
}

.registrarse {
    text-align: center;
}

.registrarse a {
    color: var(--color-cian);
}

.registrarse a:hover {
    text-decoration: underline;
}

.rememberMe {
    display: flex;
    gap: 15px;
}

/* Media Query para Responsividad */
@media (max-width: 768px) {

}

@media (min-width: 769px) {

    .login {
        width: 350px;
    }

}
