/* Importar variables */
@import url('variables.css');

h1 {
    color: #333;
    text-align: center;
}

.crearProducto {
    display: flex;
    flex-direction: column;
    background: var(--color-gris-claro);
    margin: 20px;
    padding: 20px;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    gap: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.crearProducto input[type="text"],
.crearProducto input[type="number"],
.crearProducto input[type="file"],
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: var(--border-radius);
}

.crearProducto input[type="submit"],
.crearProducto button {
    background-color: var(--color-azul-marino);
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
}

input[type="submit"]:hover,
button:hover {
    background-color: var(--color-cian);
}
