/* Importar variables */
@import url('variables.css');

.carrito {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 20px 50px;
    background-color: var(--color-gris-claro);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    gap: 25px;
}

.producto {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.producto img {
    max-width: 100px;
    margin-right: 20px;
}

.descripcion {
    flex-grow: 1;
}

.descripcion input {
    text-align: center;
    width: 75px;
    padding: 10px 15px;
    border-radius: var(--border-radius);
}

.carrito button {
    background-color: var(--color-azul-marino);
    color: white;
    padding: 10px 15px;
    border-radius: var(--border-radius);
}

button.eliminar {
    background-color: var(--color-rojo);
}

button.eliminar:hover {
    background-color: var(--color-naranja);
}

button.finalizar {
    width: 100%;
    margin-top: 20px;
}

button.finalizar:hover {
    background-color: var(--color-cian);
}

.total {
    text-align: right;
}

/* Media Query para Responsividad */
@media (max-width: 768px) {

}

@media (min-width: 769px) {

    .carrito {
        width: 750px;
    }

}
