/* Importar variables */
@import url('variables.css');

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.product-card {
    background-color: var(--color-gris-claro);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    overflow: hidden;
    width: 300px;
    text-align: center;
    padding: 15px;
}

.product-card h2 {
    color: var(--color-azul-marino);
    font-size: 1.5em;
}

.product-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.product-card p {
    margin: 5px 0;
}

.product-card a {
    display: inline-block;
    padding: 10px 15px;
    color: var(--color-gris-oscuro);    
}

.product-card:hover {
    transform: scale(1.01);
}

.campo {
    font-weight: bold;
}
