<div class="resumen-compra">
    <table>
        <thead>
            <tr>
                <th>PRODUCTO</th>
                <th>PRECIO</th>
                <th>CANTIDAD</th>
                <th>TOTAL</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <img src="https://resource.logitech.com/w_692,c_lpad,ar_4:3,q_auto,f_auto,dpr_2.0/d_transparent.gif/content/dam/logitech/en/products/keyboards/k400-plus/gallery/k400-plus-gallery-1-new.png?v=1" alt="teclado">
                    MEMORIA RAM RGB 3200MHZ KINGSTON FURY BEAST DDR4
                </td>
                <td>$939.00</td>
                <td><input type="number" id="producto_cantidad" min="0"></td>
                <td>$939.00</td>
                <td><button onclick="deleteRow(this)">Borrar</button></td>
            </tr>
            <tr>
                <td>
                    <img src="https://resource.logitech.com/w_692,c_lpad,ar_4:3,q_auto,f_auto,dpr_2.0/d_transparent.gif/content/dam/logitech/en/products/keyboards/k400-plus/gallery/k400-plus-gallery-1-new.png?v=1" alt="teclado">
                    TECLADO MECANICO GAMER EVGA Z15 RGB SILVER SWITCHES ESP
                </td>
                <td>$939.00</td>
                <td><input type="number" id="producto_cantidad" min="0"></td>
                <td>$939.00</td>
                <td><button onclick="deleteRow(this)">Borrar</button></td>
            </tr>
        </tbody>
    </table>
    <form action="">
        <input type="text" id="cod_postal" placeholder="Código postal">
        <button>Confirmar compra</button>
    </form>
</div>
