<div class="producto">

    <div class="presentacion">
        <img src="https://resource.logitech.com/w_692,c_lpad,ar_4:3,q_auto,f_auto,dpr_2.0/d_transparent.gif/content/dam/logitech/en/products/keyboards/k400-plus/gallery/k400-plus-gallery-1-new.png?v=1" alt="teclado">
        <div class="detalle">
            <h1 id="producto_nombre">Signature Slim Keyboard K950</h1>
            <p id="producto_precio">$ 99.999,99</p>
            <form action="" method="">
                <input type="number" id="producto_cantidad" min="0" max="20" value="0" autocomplete="off">
                <button>AGREGAR AL CARRITO</button>
            </form>
        </div>
    </div>

    <div class="especificaciones">
        <ul>
            <li><h2>Especificaciones y detalles</h2></li>
            <li><h3>Dimensiones</h3></li>
            <li>Altura: 139,9 mm</li>
            <li>Ancho: 354,3 mm</li>
            <li>Profundidad: 23,5 mm</li>
            <li>Peso: 390 g (con baterías)</li>
        </ul>
    </div>

</div>
