<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head.ejs', {
    title: 'Registrarse',
    stylesheets: [
        '../stylesheets/style.css',
        '../stylesheets/layout.css',
        '../stylesheets/register.css'
        ]
    }) %>

<body>

    <%- include('../partials/header.ejs') %>

    <main>
        <section class="registro">
            <form action="ruta-al-servidor-para-registrar" method="POST">
                <div class="campo">
                    <label for="nombre">Nombre:</label>
                    <input type="text" id="nombre" name="nombre" autocomplete="off" autofocus required>
                </div>
                
                <div class="campo">
                    <label for="email">Correo Electr칩nico:</label>
                    <input type="email" id="email" name="email" autocomplete="off" required>
                </div>
                
                <div class="campo">
                    <label for="password">Contrase침a:</label>
                    <input type="password" id="password" name="password" required>
                </div>

                <div class="campo">
                    <label for="confirm-password">Confirmar Contrase침a:</label>
                    <input type="password" id="confirm-password" name="confirm-password" required>
                </div>
                <button type="submit">Registrarse</button>
                <a class="login" href="/users/login">Iniciar sesi칩n</a>
            </form>
        </section>
    </main>

    <%- include('../partials/footer.ejs') %>

</body>
</html>