<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head', { title: 'Login',
stylesheets: ['/css/styles.css', '/css/form.css'] }) %>

<body>
    <%- include('../partials/header') %>
        <main>
            <form class="login" action="/login" method="POST">
                <h2>Ingresar usuario</h2>
                <input type="email" name="email" id="email" placeholder="Correo" autocomplete="off" required autofocus>
                <input type="password" name="clave" id="clave" placeholder="Contraseña" autocomplete="off" requier>
                <hr>
                <button type="submit" id="ingresar">Ingresar</button>
                <button id="ingresar-google">Ingresar con Google</button>
                <a href="#" id="restaurar_pass">Restaurar Contraseña</a>
            </form>
        </main>
    <%- include('../partials/footer') %>
</body>

</html>