<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head', { title: 'Acceder usuario',
stylesheets: ['/css/styles.css', '/css/form.css'] }) %>

<body>
    <%- include('../partials/header') %>
        <main>
            <form id="loginForm" action="/user/login" method="POST">
                <div id="validationMessage"></div>
                <h2>Ingresar usuario</h2>

                <input type="email" name="email" id="email" placeholder="Correo" autocomplete="off" required autofocus>
                <input type="password" name="password" id="password" placeholder="Contraseña" autocomplete="off" required>

                <div class="checkbox-form">
                    <input type="checkbox" name="remember" id="remember">
                    <label for="remember">Recordar acceso de usuario</label>
                </div>

                <hr>
                <button type="submit" id="ingresar">Ingresar</button>
                <a href="/user/create">Registrate</a>
                <a href="#" id="restaurar_pass">Olvidé mi contraseña</a>
            </form>
            <script src="/js/loginValidation.js"></script>
        </main>
    <%- include('../partials/footer') %>
</body>
</html>