<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head', { title: 'Perfil usuario',
stylesheets: ['/css/styles.css', '/css/form.css'] }) %>

<body>
  <h1>HOLA USUARIO</h1>
  <!-- <h1>Perfil de <%= user.firstName %> <%= user.lastName %></h1>
  <p>Email: <%= user.email %></p>
  <a href="/user/logout">Cerrar Sesión</a> -->
</body>

</html>