<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head', { title: 'Login',
stylesheets: ['/css/styles.css', '/css/form.css'] }) %>

</head>

<body>
    <%- include('../partials/header') %>
        <main>
            <form class="registro" action="/user/" method="POST">
                <h2>Registrar usuario</h2>
                <input type="text" name="firstName" id="firstName" placeholder="Nombre" autocomplete="off" required autofocus>
                <input type="text" name="lastName" id="lastName" placeholder="Apellido" autocomplete="off" required>
                <input type="email" name="email" id="email" placeholder="Correo" autocomplete="off" required>
                <input type="password" name="password" id="password" placeholder="Contraseña" autocomplete="off" required>

                <div class="terminos">
                    <input type="checkbox" name="terminos" id="terminos" required>
                    <label for="terminos">Acepto los términos y condiciones</label>
                </div>

                <hr>

                <button type="submit" id="registrar">Registrarme</button>

            </form>
        </main>
        <%- include('../partials/footer') %>
</body>

</html>